@import "tailwindcss";

@theme {
  --color-secondary: #AF8B0F;
  --color-primary: #0B3551;
  --animate-dialogOpen: dialogOpen 0.2s ease-in-out;
  --animate-dialogClosed: dialogClosed 0.2s ease-in-out;


  @keyframes dialogOpen {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes dialogClosed {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

.navigation-header-link {
  @apply font-semibold p-2 border-b-4 hover:border-b-4 hover:border-primary border-transparent transition-colors delay-150;
}

.rdp-root {
  --rdp-disabled-opacity: 0.0;
}