@import "tailwindcss";

@theme {
  --color-primary: #0B3551;
}

.navigation-header-link {
  @apply font-semibold p-2 border-b-4 hover:border-b-4 hover:border-primary border-transparent transition-colors delay-150;
}

.ddddd-1 {
  animation: movement-one 1s forwards;
}

.ddddd-2 {
  animation: movement-two 1s forwards;
}

.ddddd-3 {
  animation: movement-three 1s forwards;
}

@keyframes movement-one {
  from {
    transform: translateX(auto);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes movement-two {
  from {
    transform: translateX(auto);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes movement-three {
  from {
    transform: translateX(auto);
  }

  to {
    transform: translateX(200%);
  }
}